$accent: #a53f2b;
$accent2: #a3be8c; // This is just for the pagination border-top, that is disabled at the moment
$outline: #ffffff1f;
$background: #1a2539;
$text: #e0e0e0;
$title: $text;
$width: 900px;
$code-non-pre-background:#2e3440;

@import "font";
@import "ergo";
