$accent: #a53f2b;
$accent2: #5de0ac; // This is just for the pagination border-top, that is disabled at the moment
$outline: #ffffff1f;
$background: #1a2539;
$text: #e0e0e0;
$title: $text;
$width: 900px;

@import "ergo";