{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block extra_head %}
{% if page.extra.preload %}
{% for link in page.extra.preload %}
<link rel="preload" as="image" href="{{page.permalink}}{{link}}">{% endfor %}
{% endif %}
{% endblock extra_head %}

{% block content %}
<nav id="overlord" class="overlord">
  {{ macros::mini_logo(classes="", title=config.title, siteurl=config.base_url, logourl=config.extra.profile) }}
</nav>

<section class="post_container">
  <article>
    {% block post %}
    <h1 class="article_title"><a href="{{page.permalink}}" id="article_link">{{ page.title }}</a></h1>
    {{ macros::frontmatter(classes="frontmatter_page", date=page.date, word_count=page.word_count,
    read_time=page.reading_time) }}
    {{ page.content | safe }}
    {% endblock post %}
  </article>
  {% if config.extra.comments %}
  <script src="https://giscus.app/client.js" data-repo="TonioGela/toniogela.dev-comments"
    data-repo-id="MDEwOlJlcG9zaXRvcnkzNzA0NjExODI=" data-category="Announcements"
    data-category-id="DIC_kwDOFhTJ_s4CTMjF" data-mapping="pathname" data-strict="0" data-reactions-enabled="1"
    data-emit-metadata="1" data-input-position="bottom" data-theme="dark_dimmed" data-lang="en" data-loading="lazy"
    crossorigin="anonymous" async>
    </script>
  {% endif %}
  {% endblock content %}
</section>